/* Create - Global
============================================================================= */

/* General
------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display: block;
}
html, body {
    width: 100%; height: 100%;
    margin: 0; padding: 0;
}
body {
    -webkit-text-size-adjust: none;
    background-color: #3a4150;
    font: normal 13px/20px Arial, Helvetica, sans-serif;
    color: #7b7c7f;
    padding: 0 0 25px 0;
}
ul {
    margin: 15px 0; padding: 0 0 0 15px;
}

/*partners grid*/
#partners-logo-wrapper {
    margin-left: 30px;
    float: right;
}
#partners-wrapper{
    margin-top: 45px;
    margin-bottom: 45px;
    display: inline-block;
}
#partners-wrapper-bottom{
    padding-top: 45px;
    margin-bottom: 45px;
    display: inline-block;
    border-top:1px dotted #B6B8BA; 
}

#secureTrading {
    width: 100%;
}
#worldpayform {
    width: 100%;
}

#icon-right-wrapper {
    margin-left: 30px;
    float: right;
}

.right-icon{
    float:right;
}

#stripe-screenshot{
    margin-left:60px; 
    display:block;
    padding-top:20px;
}

/*new deafualt grid layout
------------------------------------------------------------------------------*/
#right-logo-wrapper{
    margin-left: 63px;
    float: right;    
}
#heading-wrapper{
    margin-top: 45px;
    margin-bottom: 45px;    
    display: inline-block;
}

#yellow-block {
    width: 100%;
}
#block-wrapper{
    margin-top: 45px;
    margin-bottom: 45px;    
    display: inline-block;
}


/* Header
------------------------------------------------------------------------------*/
header#header {
    background-color: #3a4150;
    clear: both;
    width: 100%; height: 80px;

}
header#header .columns_8, section#banner .columns_8  {
    margin: 0 auto; float: none;
}
header#header div#logo {
    float: left; margin: 22px 0px 0px 0px; 
}

section#banner {
    background: #1a1d25;
    background: -moz-linear-gradient(top,  #1a1d25 0%, #282e3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1d25), color-stop(100%,#282e3d));
    background: -webkit-linear-gradient(top,  #1a1d25 0%,#282e3d 100%);
    background: -o-linear-gradient(top,  #1a1d25 0%,#282e3d 100%);
    background: -ms-linear-gradient(top,  #1a1d25 0%,#282e3d 100%);
    background: linear-gradient(to bottom,  #1a1d25 0%,#282e3d 100%);
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1d25', endColorstr='#282e3d',GradientType=0 );*/
    clear: both;
    width: 100%;
    position: relative;
}
#banner_inner {
    width: 100%; height: 100%;
    padding: 0; margin: 0;
    position: absolute;
}
#banner_content {
    min-height: 100px; position: relative;
    padding: 60px 0px 35px 0px;
}

/* 12days of christmas banner*/
#banner-content {
    height: 385px; position: relative;
}

#image-wrapper{
    height: 385px; background-image: url(/img/backgrounds/12days-banner.png); background-position: center; background-repeat: no-repeat;
}

#content-section {
    width: 970px;
    margin: 0 auto;
    padding-bottom: 44px;
    text-align: left;
}
.box-offers{
    width: 400px;
    float: left;
    margin-top: 45px;

}

#door-container{

    width: 150px;
    height: 150px;
    float: left;
    margin-right: 11px;
}

#door-container-last{

    width: 150px;
    height: 150px;
    float: left;
    margin-bottom: 11px;
}

.door{
    float:right;
}

.coupon-box{

    margin-right: 11px;
    border: dashed #d6d6d6 1px;
    width: 387px;
    height: 150px;
    padding: 15px;
    background-image: url(/img/backgrounds/snow_fall.png);    
}

.coupon-box:hover
{ 
border: dashed #3a4150 1px;
background-color: #f4fbfd;
}

.coupon-box2{

    margin-right: 11px;
    border: dashed #d6d6d6 1px;
    width: 387px;
    height: 150px;
    padding: 15px;
    background-image: url(/img/backgrounds/snow_fall.png);    
}

.code-text{
    font-family: RockwellRegular, Arial, sans-serif; font-weight: normal;
    font-size: 20px;
    color: #3a4150;
    padding-bottom: 10px;    
}

.discount-text{
    font-family: RockwellRegular, Arial, sans-serif; font-weight: normal;
    font-size: 35px;
    color: #c80f0f;
    padding-bottom: 10px;
    font-weight: bold;
}


.claim-text{
    font-family: RockwellRegular, Arial, sans-serif; font-weight: normal;
    font-size: 25px;
    color: #c80f0f;
    padding-bottom: 10px;
    font-weight: bold;
}

.gift-title{
    font-family: RockwellRegular, Arial, sans-serif; font-weight: normal;
    font-size: 20px;
    color: #3a4150;
    padding-bottom: 10px;    
}

.expires-text{
    color: #7b7c7f;
}

#xmastext-wrapper{
    float: left;
    width: 720px;
    padding-top: 70px;

}

#xmas-head-wrapper{
margin-bottom: 25px;
display: inline-block;
}

.discount-name{
    font-size:20px ;
}

#xmas-content-section {
    width: 970px;
    margin: 0 auto;
    text-align: left;
}

.box-space{
    margin-top: 25px;
}

#xmas-intro-wrapper{
    display: inline-block;

}

/* 12days of christmas banner*/

/* Monitor
--------------------------*/
#banner_monitor-container {
    height: 309px;
    position: absolute;
    right: 0;
    top: -15px;
    width: 288px;
    z-index: 1;
}
#banner_monitor {
    background: url("../img/backgrounds/banner_home_trans.png") no-repeat 0 0 transparent;
    height: 309px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 288px;
    z-index: 1;
}
#banner_screenshot {
    background: url("../img/backgrounds/screenshots/loading.png") no-repeat scroll 85px 105px transparent;
    height: 213px;
    position: absolute;
    right: 0px;
    top: 13px;
    width: 288px;
    z-index: 0;
}
/* Menu
------------------------------------------------------------------------------*/
nav#menu {
    float: right;
}
nav#menu ul {
    color: #ffc11c;
    line-height: 22px;
    margin-top: 28px;
    list-style: none;
}
nav#menu ul li {
    float: left;
    border-right: 1px dotted #999;
    height: 22px;
    padding-right: 10px;
    margin-right: 9px;
}
nav#menu ul li.last { border: none; }
nav#menu ul li.current a { color: #ffc11c; }
nav#menu ul li a {
    display: inline-block;
    color: #e5e7eb;
}
nav#menu ul li a:hover {
    color: #fff;
}
nav#menu ul li span {
    
}

nav#menu ul li.accountLogin {
    background: url(../img/icons/login.gif) 0 5px no-repeat;
    padding: 0 0 0 12px;
    margin-right: 20px;
    position: relative;
    z-index:3;
}
nav#menu ul li.accountLogin:hover {
    background: url(../img/icons/login.gif) 0 -14px no-repeat;
}

nav#menu ul #menu_login span {
    display: block;
}

nav#menu ul #menu_login.sel {
    color: #7b7c7f;
    background-position: 0px -15px;
}

nav#menu ul li.accountLogin #loginBox{
    background: transparent url(../img/backgrounds/loginDialog.png) no-repeat top left;
    width: 303px;
    height: 200px;

    position: absolute;
    z-index: 4;
    margin-left: -189px;
    margin-top: -30px;

    display: none;
}

/* Content Wrapper
------------------------------------------------------------------------------------------------------------------------------*/
#contentWrapper {
    background-color: #fff;
    width: 100%;
}
#content {
    width: 970px;
    margin: 0 auto;
    padding-bottom: 44px;
    text-align: left;
    border-top: 5px solid #FFC11C;
}

#content-form {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border-top: 5px solid #FFC11C;
}

/* Monitor
------------------------------------------------------------------------------------------------------------------------------*/
#banner_screenshot.hamble { background: url(../img/backgrounds/monitor/hamble_and_jemima.png) 0 0 no-repeat; }
#banner_screenshot.butchers { background: url(../img/backgrounds/monitor/butchers_hook.png) 0 0 no-repeat; }
#banner_screenshot.honeypie { background: url(../img/backgrounds/monitor/honeypie_boutique.png) 0 0 no-repeat; }

.inline { display: inline; } 

button {
    display: block;
    cursor: pointer;
}

div.clear {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    position: relative;
    clear: both;
}

.float_left {float: left !important;}
.float_right {float: right !important;}
.float_none { float: none !important;}

.nobr { white-space: nowrap;}

.display_none { display: none;}
.display_inline { display: inline; }
.display_block { display: block; }


a span, button span { display: none; }

/* Typographic
------------------------------------------------------------------------------*/

h1 {
    margin: 0 0 10px 0; padding: 0;
    line-height: normal;
}
section#banner h1 {
    font-family: RockwellRegular, Arial, sans-serif; font-weight: normal;
    color: #fff;
    font-size: 3.692em;
}
h1.font-face_rockwell {
    font-family: RockwellRegular, Arial, sans-serif;
    font-size: 3.692em;
    color: #ffffff;
    font-weight: normal;
    display: block;
}
h2 {
    font: normal 1.231em/1.692em "Arial Black", Arial, Helvetica, sans-serif;
    color: #3a4356;
    margin: 0 0 15px 0;
}
section#banner h2 {
    font-family: RockwellRegular, Arial, sans-serif; font-weight: normal;
    color: #fff;
    font-size: 1.846em;
}
h2.font-face-rockwell {
    font-family: RockwellRegular, Arial, sans-serif;
    font-size: 1.846em;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.8);
    font-weight: normal;
    display: block;
}
span.font-face_rockwell {
     font-family: RockwellRegular, Arial, sans-serif;
     font-weight: normal;
}

h3.small_heading {
    border-bottom: 1px dotted #B6B8BA;
    color: #3A4150; 
    font-family: RockwellRegular, Arial, sans-serif; font-size: 20px; font-weight: normal; text-shadow: none;
    margin: 0 0 20px 0; padding: 0 0 10px;
}
h3.small_heading a {
    color: #3A4150; text-decoration: none; cursor: text;
}
h4 {
    font-family: RockwellRegular, Arial, sans-serif;
    color: #A1A9BC;
    font-weight: normal;
    line-height: 32px;
    font-size: 20px;
    padding: 0; margin: 0 0 5px 0;
}
span.emphasis {
    font-size: 1.250em; display: inline-block;
}
section#banner p {
    margin: 10px 0;
}
/* FAQ titles */
#faqs h2 { margin-bottom: 10px; }


p.large {font: normal 14px/20px Arial, Helvetica, sans-serif;}
p.small, span.small, a.small {font: normal 11px/20px Tahoma, Arial, Helvetica, Sans-Serif;}
p.light {color: #a5a7ac;}
p.dark {color: #3a4356;}
p.bannerText {color: #e5e7eb;}
p.line-height_15 {line-height: 15px;}
p.bannerText a { color: #d4d6dc; border-bottom: 1px dotted #4560A2;}
p.bannerText a:hover { color: #e5e7eb; border-bottom: 1px dotted #e5e7eb;}

a.createLink {color: #4560A2; border-bottom: 1px dotted #4560A2; text-decoration: none;}
a.createLink:hover {color: #5F7BBF; border-bottom: 1px dotted #5F7BBF;}

p.testimonial {
    background: url(../img/backgrounds/endQuote.gif) right 5px no-repeat;
    padding-right: 54px;
}
.testimonial_light {
    background: url(../img/backgrounds/endQuote_light.gif) right bottom no-repeat;
}
.testimonial_white {
    background: url(../img/backgrounds/endQuote_whte.gif) right bottom no-repeat;
}
.testimonial_dark {
    background: url(../img/backgrounds/endQuote-dark.png) right bottom no-repeat;
}

ul.vanilla li {
    float: left;
}

ul.things {
    margin: 15px 0; padding: 0;
    list-style: none;
}
ul.things li {
    background: url(../img/icons/tick.gif) 0 center no-repeat;
    line-height: 20px;
    padding: 0 0 0 28px;
    margin: 0 0 10px 0;
}
ul.bullets {
    margin: 15px 0; padding: 0; list-style: none;
}
ul.bullets li {
    background: url(../img/icons/bullet.png) 0px 6px no-repeat;
    line-height: 20px; 
    margin: 0 0 10px 0;
    padding: 0 0 0 18px; 
}


ol.num-list {
    line-height: 20px; 
    margin: 0 0 10px 0;
    padding: 0 0 0 18px; 
}

/* Links
------------------------------------------------------------------------------*/

a { color: #4560a2; }
a:hover { color: #5f7bbf; }

a.underline { border-bottom: 1px dotted #b0c3eb; }

#footer a { color: #e5e7eb; }
#footer a:hover { color: #fff; }

#footer a.underline { border-bottom: 1px dotted #616773; }

a.underline:hover, #footer a.underline:hover { border-bottom: none; }

#footer span { color: #697080; }

.document a {
    border-bottom: 1px dotted #b0c3eb;
}
.document a:hover {
    border-bottom: none;
}
a.special-link {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    font-size: 12px; font-weight: bold;
    display: inline-block; margin: 0;
    background: #ffc11c;
    border-radius: 6px;
    padding: 6px 10px 7px 10px; margin: 20px 0 0 0;
    color: #f4f4f4;
    text-decoration: none;
}
a.special-link:hover {
    background: #ccc;
}

/* Forms
------------------------------------------------------------------------------*/
input, textarea {
    font: 13px/20px Arial, Helvetica, sans-serif;
    border: none;
    background: none;
}
input:focus, textarea:focus {
    outline-style: none;
    outline-width: 0;
}

/* Layout
------------------------------------------------------------------------------*/

.margin-top_2 {margin-top: 2px;}
.margin-top_3 {margin-top: 3px;}
.margin-top_5 {margin-top: 5px;}
.margin-top_10 {margin-top: 10px;}
.margin-top_13 {margin-top: 13px;}
.margin-top_15 {margin-top: 15px;}
.margin-top_20 {margin-top: 20px;}
.margin-top_25 {margin-top: 25px;}
.margin-top_23 {margin-top: 23px;}
.margin-top_29 {margin-top: 29px;}
.margin-top_30 {margin-top: 30px;}
.margin-top_35 {margin-top: 35px;}
.margin-top_38 {margin-top: 38px;}
.margin-top_40 {margin-top: 40px;}
.margin-top_55 {margin-top: 55px;}

.margin-right_20 {margin-right: 20px;}
.margin-right_30 {margin-right: 30px;}
.margin-right_55 {margin-right: 55px;}

.margin-left_4 {padding-left: 4px;}
.margin-left_5 {padding-left: 5px;}
.margin-left_10 {margin-left: 10px;}
.margin-left_15 {margin-left: 15px;}
.margin-left_20 {margin-left: 20px;}
.margin-left_25 {margin-left: 18px;}
.margin-left_30 {margin-left: 30px;}
.margin-left_35 {margin-left: 35px;}
.margin-left_250 {margin-left: 250px;}

.margin-bottom_15 {margin-bottom: 15px;}
.margin-bottom_20 {margin-bottom: 20px; }
.margin-bottom_25 {margin-bottom: 25px; }
.margin-bottom_30 {margin-bottom: 30px;}
.margin-bottom_35 {margin-bottom: 35px;}
.margin-bottom_40 {margin-bottom: 40px;}
.margin-bottom_44 {margin-bottom: 44px;}
.margin-bottom_8 {margin-bottom: 12px;}

.padding-bottom_5 {padding-bottom: 5px;}
.padding-bottom_10 {padding-bottom: 10px;}
.padding-bottom_12 {padding-bottom: 12px;}
.padding-bottom_15 {padding-bottom: 15px;}
.padding-bottom_20 {padding-bottom: 20px;}
.padding-bottom_33 {padding-bottom: 33px;}
.padding-bottom_44 {padding-bottom: 44px;}

.padding-left_20 {padding-left: 20px;}
.padding-left_30 {padding-left: 30px; }
.padding-left_35 {padding-left: 35px;}
.padding-left_40 {padding-left: 40px;}
.padding-left_43 {padding-left: 43px;}
.padding-left_44 {padding-left: 44px;}
.padding-left_48 {padding-left: 48px;}
.padding-left_50 {padding-left: 50px;}
.padding-left_55 {padding-left: 55px;}
.padding-left_60 {padding-left: 60px;}

.padding-right_30 {padding-right: 30px; }
.padding-right_60 {padding-right: 60px; }
.padding-right_20 {padding-right: 20px;}
.padding-top_20 {padding-top: 20px;}
.padding-top_10 {padding-top: 10px;}

.top_10 { position: relative; top: 10px; }
.top_15 { position: relative; top: 15px; }

.width_200 { width: 200px !important; }

.bigparagraphs > p { margin-bottom: 18px; }

.border-bottom {border-bottom: 1px dotted #b6b8ba;}
.border-bottom_light {border-bottom: 1px dotted #dadbdc;}
.border-top {border-top: 1px dotted #b6b8ba;}
.border-top_light {border-top: 1px dotted #dadbdc;}
.border-right {border-right: 1px dotted #b6b8ba;}
.border-left {border-left: 1px dotted #b6b8ba;}

.table-title_dark {background-color: #3a4050;}

.frame {border: 1px dotted #a8a392;}

/* Grid System
---------------------------------------------------------------------*/

.columns_1 { float: left; width: 95px; }
.columns_1_right { float: right; width: 95px; }

.columns_2 { float: left; width: 220px; }
.columns_2_borderRight { float: left; width: 220px; border-right: 1px dotted #b6b8ba; }
.columns_2-padded { float: left; width: 160px; padding: 30px; }

.columns_3 {float: left; width: 345px;}

.columns_4 { float: left; width: 470px; }
.columns_4_borderLeft { float: left; width: 469px; border-left: 1px dotted #b6b8ba; }
.columns_4-padded { float: left; width: 410px; padding: 30px; }

.columns_5 {float: left; width: 595px;}
.columns_5_borderLeft {float: left; width: 594px; border-left: 1px dotted #b6b8ba;}
.columns_5-padded {float: left; width: 535px; padding: 30px; }

.columns_6 {float: left; width: 720px;}
.columns_6_borderRight {float: left; width: 749px; border-right: 1px dotted #b6b8ba;}

.columns_7 {float: left; width: 765px;}
.columns_7_borderRight {float: left; width: 765px; border-right: 1px dotted #b6b8ba;}


.columns_8 {float: left; width: 970px;}
.columns_8-padded {float: left; width: 910px; padding: 30px;}

div.gray {
background: #f3f4f4;
}

div.yellow {

    background-color: #fffbf1;
    border-bottom: solid 1px#ebe4d0;
    border-top: solid 1px#ebe4d0;
    background-image: url(../img/images/noisy-texture2.png);
}

/* Div Logo/Icons
-----------------------------------------------------------------------------------------------------------------------*/
div.facebook { background: url(../img/icons/facebook-shop-icon.png) -6px 0px no-repeat; margin-bottom: 10px; }
div.testimonial { background: url(../img/icons/comment.gif) 0 0px no-repeat; }
div.twitter { background: url(../img/icons/twitter.gif) 0 18px no-repeat; }
div.twitterIndex { background: url(../img/icons/twitter.gif) 0 0px no-repeat; }
div.fb-shop { background: url(../img/icons/facebook-shop-icon.png) 0px 0px no-repeat; }
div.thirtydayfreetrial { background: url(../img/icons/rev_meter.jpg) 0px 27px no-repeat; }
div.youcancreate { background: url(../img/icons/colour_wheel.jpg) 0px 27px no-repeat; }
div.welovewebdesginers { background: url(../img/icons/heart.jpg) 36px 36px no-repeat; }
div.easytouseshop { background: url(../img/icons/small_shop.jpg) 0px 27px no-repeat; }
div.artsandcrafts { background: url(../img/icons/youCanCreate.jpg) 0px 0px no-repeat; }
div.getintheloop { background: url(../img/icons/newsletter.png) -1px 5px no-repeat; margin-bottom: 30px; }

.pullout {
    display: block;
    width: 195px;
    height: 154px;
    color: #4e3e12; font-style: italic;
    padding: 10px; padding-left: 15px;
    margin-left: 30px; margin-top: -10px;
    background: #ffc11c url(../img/backgrounds/endQuote_yellow.gif) no-repeat 143px 100px ;
}
.pullout_blue {
    display: block;
    width: 195px;
    height: 154px;
    color: #a0a7b6; font-style: italic;
    padding: 10px; padding-left: 15px;
    margin-right: 30px; margin-top: -10px;
    background: #3a4150 url(../img/backgrounds/endQuote_blue.gif) no-repeat 143px 100px ;
}

a.backToTop,a.watchVideo { font-size: 11px; }

.grey { background-color: #f3f4f4;}
.Darkergrey { background-color: #F0F1F1;}
.white { background-color: #ffffff;}
.Darkergrey2 { background-color: #eeeeee;}

/* Dynamic Tooltip
-------------------------------------------------------------------------------------------------------------*/
#dynatip {
    display: none;
    background: #ffc11c url(../img/backgrounds/tooltip.png) repeat-x;
    font-size: 12px;
    padding: 5px 10px;
    color: #4e3e12;
    max-height: 71px;
    border: 1px solid #f5bd29;

    text-shadow: 1px 1px #ffd76d;
    z-index: 100;
    -moz-box-shadow:0 0 4px 0px #7b7c7f;
    -webkit-box-shadow:0 0 4px 0px #7b7c7f;
}

/* Buttons
------------------------------------------------------------------------------*/

.yellow-btn{
    font-family: RockwellRegular, Arial, sans-serif;
    background:#fec120;
    color: #3a4150;
    font-size: 16px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    border-radius: 4px;
}
.yellow-btn:hover {
    background:#ffca3e;
    color: #3a4150;
}
.yellow-btn:active {
    background-color:#ecb41f;
}
/*start createing now arrow button*/
.cta--arrow a {
    font-family: RockwellRegular, Arial, sans-serif;   
    line-height: 24px;
    position: relative;
    margin: 0;
    padding: 8px 15px 9px 15px;
    background:#fec120;
    color: #3a4150;
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px 0px 0px 4px;
}
.cta--arrow a:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -40px;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #fec120;
    border-style: solid;
    border-width: 20px;
}
.cta--arrow a:hover {
    background:#ffca3e;
}
.cta--arrow  a:hover:after {
border-color: transparent transparent transparent #ffca3e;
}
.cta--arrow a:active {
    background-color:#f6bb1e;
}
.cta--arrow a:active:after {
    border-color: transparent transparent transparent #f6bb1e;
}

div.columns_8 > div.cta--arrow {
margin-top: 35px;
}


.button {
    cursor: pointer;
}

a.freeTrial {background: url(../img/buttons/freeTrial.png) 0 0 no-repeat; width: 102px; height: 31px; margin-top: 24px; padding-right: 3px;}
a.freeTrial:hover {background-position: 0 -31px}

a.trial_button {background: url("../img/buttons/free-trial-triple.png") no-repeat scroll left top transparent; width: 104px; height: 32px;}
a.trial_button:hover {background: url("../img/buttons/free-trial-triple.png") no-repeat scroll 0px -32px transparent;}
a.trial_button:active {background: url("../img/buttons/free-trial-triple.png") no-repeat scroll 0px -64px transparent;}

a.trial_button-dk {background: url("../img/buttons/free-trial-triple-dark.png") no-repeat scroll left top transparent; width: 104px; height: 32px;}
a.trial_button-dk:hover {background: url("../img/buttons/free-trial-triple-dark.png") no-repeat scroll 0px -32px transparent;}
a.trial_button-dk:active {background: url("../img/buttons/free-trial-triple-dark.png") no-repeat scroll 0px -64px transparent;}

a.browse {background: url(../img/buttons/browse.png) 0 0 no-repeat; width: 90px; height: 29px; margin-top: 5px; margin-left:4px;}
a.browse span { display: none; }
a.browse:hover {background-position: 0 -29px}
a.browse:active {background-position: left bottom}

a.startBuildingNow {background: url(../img/buttons/startBuildingNow_home.png) 0 0 no-repeat; width: 253px; margin: 35px 0 0 3px;}
a.startBuildingNow:hover,a.startBuildingNow.hover {background-position: 0 -40px}


#signUp a.startBuildingNow {background: url(../img/buttons/startBuildingNow_signUp.png) 0 0 no-repeat; width: 243px; margin: 30px 0 0 3px;}
#signUp a.startBuildingNow:hover {background-position: 0 -40px}

#contactUs a.send, #secureTrading a.send, #jobApplication a.send, #designApplication a.send  {font-family: RockwellRegular, Arial, sans-serif; background:#fec120; color: #3a4150; font-size: 20px; padding: 8px 20px 8px 20px; text-decoration: none; border-radius: 4px;}
#contactUs a.send:hover, #secureTrading a.send:hover, #jobApplication a.send:hover, #designApplication a.send:hover  {background:#ffca3e; color: #3a4150;}
#contactUs a.send:active, #secureTrading a.send:active, #jobApplication a.send:active, #designApplication a.send:active  {background-color:#ecb41f;}

a.contactButton {background-image: url("../img/buttons/contact.png"); background-repeat:  no-repeat; background-position:  0px 0px; height: 32px; width: 104px;}
a.contactButton:hover {background-position: 0px -32px;}
a.contactButton:active {background-position: 0px -64px;}

#forgottenPassword a.sendPassword { height: 29px; background: url(../img/buttons/sendPassword.png) 0 0 no-repeat; width: 160px; margin: 25px 0 0 3px;}
#forgottenPassword a.sendPassword:hover {background-position: 0 -29px}

/*a.extendTrial { height: 29px; background: url(../img/buttons/extendTrial.png) 0 0 no-repeat; width: 142px; margin-top: 25px;}
a.extendTrial:hover {background-position: 0 -29px}*/

a.extendTrial{
    font-family: RockwellRegular, Arial, sans-serif;
    background:#fec120;
    color: #3a4150;
    font-size: 16px;
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    border-radius: 4px;
}
a.extendTrial:hover{
    background:#ffca3e;
    color: #3a4150;
}
a.extendTrial:active {
    background-color:#ecb41f;
}

a.login {background: url(../img/buttons/login.png) 0 0 no-repeat; width: 120px; height: 40px; margin-top: 10px; padding-right: 3px; }
a.login:hover {background-position: 0 -40px}

a.login_pop-up {background: url(../img/buttons/login_pop-up.png) 0 0 no-repeat; width: 71px; height: 29px; margin-top: 24px; padding-right: 3px; position: absolute; right: 28px; bottom: 28px;}
a.login_pop-up:hover {background-position: 0 -29px}

/*#SearchPosts-button {background: url(../img/buttons/search.png) 0 0 no-repeat; width: 86px; height: 29px; text-indent: -150px; overflow: hidden; }
#SearchPosts-button:hover {background: url(../img/buttons/search.png) 0 -29px no-repeat;}
#SearchPosts-button:action {background: url(../img/buttons/search.png) 0 -58px no-repeat;}*/


#SearchPosts-button {
    font-family: RockwellRegular, Arial, sans-serif;
    background:#fec120;
    color: #3a4150;
    font-size: 16px;
    padding: 6px 15px 6px 15px;
    text-decoration: none;
    border-radius: 4px;
    height: 36px;
}
.#SearchPosts-button:hover {
    background:#ffca3e;
    color: #3a4150;
}
.#SearchPosts-button:active {
    background-color:#ecb41f;
}


.create-submit-button{
    font-family: RockwellRegular, Arial, sans-serif;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    font-weight: normal;
    font-size: 1.313em;
    text-decoration: none;
    line-height: normal;
    display: inline-block;
    vertical-align: baseline;
    color: #534215;
    border: 1px solid #F5B713;
    background: #ffca3d;
    padding: 0.500em 1.125em;
}

.create-submit-button:hover{
    color: #534215;
    background: #fed559;
    border: 1px solid #f9be21;

}

/* Footer
------------------------------------------------------------------------------*/
#footer {
    font: normal 11px/20px Tahoma, Arial, Helvetica, Sans-Serif;
    color: #a1a9bc;
    width: 970px;
    margin: 0 auto;
    text-align: left;
}
#footer ul.footer_menu {
    list-style: none; 
    margin: 0; padding: 0;
}
#footer ul.footer_menu li {
    margin: 0 0 2px 0; padding: 0;
}
#footer ul.footer_menu li a {
    color: #E5E7EB; font-size: 13px;
    text-decoration: none;
    border-bottom: none;
}
#footer ul.footer_menu li a:hover {
    color: #fff;
}

/* Icons Create Social Footer
----------------------------------------------------------------------------------*/
ul#social_icons {
    list-style: none;
    display: block; 
    float: right;
    height: 25px;
    margin: -34px 0 0 0;
    padding: 0 0 17px;
}
ul#social_icons li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}
ul#social_icons li.last { margin: 0; }
ul#social_icons li a {
    display: block;
    height: 25px;
    overflow: hidden;
    background-image: url('../img/icons/create_social-footer.png');
    background-repeat: no-repeat;
}
/* pinterest */
ul#social_icons li a.pinterest:hover {
    background-position: 5px -25px;
}
ul#social_icons li a.pinterest {
    background-position: 5px 0px;
    width: 30px;
}
/* twitter */
ul#social_icons li a.twitter:hover {
    background-position: -25px -25px;
}
ul#social_icons li a.twitter {
    background-position: -25px 0px;
    width: 30px;
}
/* facebook */
ul#social_icons li a.facebook:hover {
    background-position: -56px -25px;
}
ul#social_icons li a.facebook {
    background-position: -56px 0px;
    width: 11px;
}
/* google plus */
ul#social_icons li a.googleplus:hover {
    background-position: -67px -25px;
}
ul#social_icons li a.googleplus {
    background-position: -67px 0px;
    width: 29px;
}
/* youtube */
ul#social_icons li a.youtube:hover {
    background-position: -97px -25px;
}
ul#social_icons li a.youtube {
    background-position: -97px 0px;
    width: 51px;
}
/* pinstagram */
ul#social_icons li a.instagram:hover {
    background-position: -148px -25px;
}
ul#social_icons li a.instagram {
    background-position: -148px 0px;
    width: 25px;
}
/* flickr */
ul#social_icons li a.flickr:hover {
    background-position: -148px -25px;
}
ul#social_icons li a.flickr {
    background-position: -148px 0px;
    width: 24px;
}
/* linkedIn */
ul#social_icons li a.linkedin:hover {
    background-position: -197px -25px;
}
ul#social_icons li a.linkedin {
    background-position: -197px 0px;
    width: 25px;
}
/* blog */
ul#social_icons li a.rssblog:hover {
    background-position: -197px -25px;
}
ul#social_icons li a.rssblog {
    background-position: -197px 0px;
    width: 22px;
}


/* Social Icons
----------------------------------------------------------------------------------*/
a.wdk_create-social-icon {
    height: 31px; width: 31px;
    display: block; float: left; margin-right: 10px;
    outline: none; border: none;
    background-position: top left;
}
a.wdk_create-social-icon:hover {
    background-position: bottom left;
}
a.wdk_create-twitter {
    background-image: url('../img/icons/wdk_create-twitter.png');
}
a.wdk_create-facebook {
    background-image: url('../img/icons/wdk_create-facebook.png');
}
a.wdk_create-blog {
    background-image: url('../img/icons/wdk_create-blog.png');
}

/* Fonts
----------------------------------------------------------------------------------*/

/* Rockwell */
@font-face {
    font-family: 'RockwellRegular';
    src: url('rock-webfont.eot');
    src: url('rock-webfont.eot?#iefix') format('embedded-opentype'),
         url('rock-webfont.woff') format('woff'),
         url('rock-webfont.ttf') format('truetype'),
         url('rock-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Rockwell_bold;
    font-weight: bold;
    src: url('../files/fonts/Rockb.TTF');

}
@font-face {
    font-family: Rockwell_italic;
    font-style: italic;
    src: url('../files/fonts/Rocki.TTF');

}
@font-face {
    font-family: Rockwell_bold_italic;
    font-style: italic; font-weight: bold;
    src: url('../files/fonts/Rockbi.TTF');

}
/* Create Smooth */
@font-face {
    font-family: 'CreatesmoothRegular';
    src: url('create_smooth-webfont.eot');
    src: url('create_smooth-webfont.eot?#iefix') format('embedded-opentype'),
         url('create_smooth-webfont.woff') format('woff'),
         url('create_smooth-webfont.ttf') format('truetype'),
         url('create_smooth-webfont.svg#CreatesmoothRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-face-create {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;;
    font-weight: normal;
}



/* Sharing Social Buttons
----------------------------------------------------------------------------------*/

.social_sharer-container {

}
.social_sharer {
    border-right: 1px dotted #DADBDC;
    padding: 0px 8px;
    float: left;
}
.social_sharer-first {
    padding-left: 0px;
}
.social_sharer-last {
    border-right: none;
    padding-right: 0px;
}
.facebook_share {
    
}
.facebook_share a span {
    display: block !important;
}

/* Highlight Selection  ------------------------------------------------------------- */
#banner ::selection, #content ::selection, #banner_home_trans ::selection
{ color: #fff; background: #FFC731; /* Safari */ }
#banner ::-moz-selection, #content ::-moz-selection, #banner_home_trans ::-moz-selection
{ color: #7D6D3E; background: #FFC731; /* Firefox */ }

#menu li::-moz-selection, #menu li a::-moz-selection,  #menu li a span::-moz-selection, 
#footer a::-moz-selection, #footer::-moz-selection, #footer p::-moz-selection
{ background: #1f232e; /* Firefox */ }

#menu li::-selection, #menu li a::-selection,  #menu li a span::-selection, 
#footer a::-selection, #footer::-selection, #footer p::-selection
{ background: #1f232e; /* Safari */ }

.gallery {
    height: 325px; width: 655px;
    overflow: hidden; position: relative;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;

}
.gallery img {
    z-index: 2; position: absolute; top: 0; left: 0;
}

/* Error
------ */
div.error {
    border: 1px solid #ff4e46;
    background: #ffc0bd;
    color: #ff4e46;
}

/* Ahao Hoy*/
