* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure, details, summary
{ 
display: block; 
}


body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #7b7c7f;
}

footer, header {
	background-color: #3a4150;
}

.container, .footer-inner, .nav-inner {
	max-width: 960px;
	min-width: 440px;
	margin: auto;
}

.nav-inner {
	height: 80px;
}

.logo {
	float: left;
	margin: 22px 0px 0px 0px;
}

.footer-inner {
	height: 185px;
}

main {
	margin-left: 250px;
	padding: 20px 10px;
	min-height: 500px;
}




/* Default Text */

h1, h2, h3 {
	font-family: "Arial Black", Helvetica, Arial, Sans-Serif;
	color: #3A4356;
}

p, ol, ul {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 20px;
}

p {
	padding: 10px 0px;
}

a {
	color: #4560A2;
}

.center {
	text-align: center;
}




/* Site Header / Banner */

.banner {
	width: 100%;
	background-color: #3A4356;
	background: linear-gradient(to bottom, #1a1d25 0%,#282e3d 100%);
}

.banner__inner {
	color: white;
	max-width: 960px;
	margin: auto;
	padding: 50px 20px;
	border-bottom: 5px solid #FFC731;
}

.banner__inner h1 {
	font-family: RockwellRegular, Arial, sans-serif;
	color: white;
	font-size: 3em;
	margin-top: 15px;
}

.banner__inner a {
	color: white;
	text-decoration: none;
}






/* Main / Top Navigation Bar */

.top-nav {
	background-color: #bebebe;
	width: 100%;
}

.top-nav h1 {
	margin: 15px 0;
	color: #4560A2;
}

.top-nav ul {
	list-style-type: none;
	max-width: 960px;
	font-size: 0px;
	margin: auto;
}

.top-nav li {
	display: inline-block;
	width: 25%;
	border: 1px solid black;
	text-align: center;
}

.top-nav a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 2;
}

.top-nav li:hover {
	background-color: #3A4356;
}

.top-nav li:hover a{
	color: white;
}







/* Side Navigation Bar */

.sub-menu {
	float: left;
	width: 235px;
	padding: 0px 5px 0px 10px;
	margin: 30px 0px;
	border-right: 1px dotted #b6b8ba;
}

.sub-menu h1 {
	margin: 15px 0;
	color: #4560A2;
}

.sub-menu ul {
	list-style-type: none;
	margin-top: 20px;
}

.sub-menu a {
	color: #4560A2;
	text-decoration: none;
	line-height: 1.4;
}

.sub-menu a:hover {
	color: #5f7bbf;
}

.sub-menu .active {
	font-weight:bold;
}

.sub-menu__nest {
	margin-top: 0px !important;
	margin-left: 20px;
	margin-bottom: 5px;
}

details summary::-webkit-details-marker { 
	display:none; 
}

details summary {
	color: #4560A2;
	cursor: pointer;
	outline: none;
}

details[open] summary {
    font-weight:bold;
}





/* Page Header (Page Title and Last Updated)  */

.page-header {
	margin: 10px 0px 20px;
}

.page-title {
	
}

.last-updated {

}






/* Code Block Styling - Overide styles in prism.css */

pre[class*="language-"] {
	padding: 1em;
	padding-top: 0;
	margin: 1em;
}

pre, code {
	background-color: #f5f2f0;
	overflow: scroll;
}

.token.comment {
	color: #dbb112;
}


main ol, 
main ul {
	padding-left: 20px;
}

hr {
	color: #fff;
	border-top: 1px dotted #b6b8ba;
}


