* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.9em;
	color: #7b7c7f;
}

.container {
	max-width: 960px;
	margin: auto;
}

main {
	margin-left: 250px;
	padding: 20px 10px;
}



/* Default Text */

h1, h2, h3 {
	font-family: "Arial Black", Helvetica, Arial, Sans-Serif;
	color: #3A4356;
}

p, ol, ul {
	line-height: 1.5em;
}

p {
	padding: 10px 0px;
}




/* Header */

header {
	width: 100%;
	background-color: #3A4356;
	color: white;
	padding: 50px 20px;
	background: linear-gradient(to bottom, #1a1d25 0%,#282e3d 100%);
	border-bottom: 5px solid #FFC731;
}

header h1 {
	color: white;
	font-size: 3em;
	margin-top: 15px;
}

header img.logo {
	float: left;
	margin: 15px;
}

header a {
	color: white;
	text-decoration: none;
}







/* Side Navigation Bar */

.side-nav {
	float: left;
	width: 220px;
	padding: 0px 5px 0px 10px;
	margin: 30px 0px;
	border-right: 1px dotted #b6b8ba;
}

.side-nav h1 {
	margin: 15px 0;
	color: #4560A2;
}

.side-nav ul {
	list-style-type: none;
	margin-left: 30px;
}

.side-nav a {
	color: #4560A2;
	text-decoration: none;
	line-height: 1.4;
}

.side-nav a:hover {
	color: #5f7bbf;
}

.side-nav .active {
	font-weight:bold;
}






/* Content Styling */

pre {
	padding: 0px 10px 15px;
}

pre, code {
	background-color: #f5f2f0;
	overflow: scroll;
}


main ol, 
main ul {
	padding-left: 20px;
}

hr {
	color: #fff;
	border-top: 1px dotted #b6b8ba;
}


