---
---

@import "global.scss";
@import "prism.scss";

$blue: $blue;
$yellow: #FFC731;


// RESETS / FALLBACKS
* {
	padding: 0px;
	margin: 0px;
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
     box-sizing:        border-box;
}

header, section, footer, aside, nav, main, article, figure, details, summary, blockquote { 
display: block; 
}





body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #7b7c7f;
}


.container,
.footer__inner,
.header__inner,
.top-nav ul {
	width: 100%;
	max-width: 980px;
	min-width: 480px;
	margin: auto;
	padding: 0px 20px;
}



main {
	margin-left: 25%;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
}

img {
	max-width: 100%;
}

blockquote {
	border: 1px solid #FFE05B;
	background-color: #FFF6BF;
	padding: 0px 10px;
}




/* TEXT - most of the defualts are in the global.css stylsheet */

p, ol, ul { line-height: 20px; }

p {	padding: 10px 0px; }

.center { text-align: center; }

ul { list-style-type: none; }

.container ol, 
.container ul {
	padding-left: 20px;
}


.container h1 {
	margin: 15px 0px 0px 0px;
	color: $blue;
	font-size: 2em;
}

main h2 {
	margin: 15px 0px 0px 0px;
}

main h4 {
	margin: 15px 0px 0px 15px;
}




/* Header and Footer */

footer, header {
	background-color: #3a4150;
}
.header__inner {
	position: relative;
}

.header__inner .logo {
	padding: 26px 20px 0px 0px;
	margin: 0px;
	float: left;
}

.header__inner .title {
	max-width: 500px;
	padding: 26px 0px;
	margin: auto;
	text-align: center;
}
	.header__inner .title a {
		font-size: 2.1em;
		color: white;
	}

.header__inner .yellow-btn {
	position: absolute;
	top: 25px;
	right: 20px;
}


@media (max-width: 650px) {
	.header__inner .title {
		font-size: .8em;
		padding-top: 100px;
	}
}


/* STICKY FOOTER */

html,
body {
	height: 100%;
}

.container {
	min-height: 100%;
	margin-bottom: -195px; /* equal to footer height */
	margin-top: -139px; /*this is because the header and nav bar are not inside the container and are pushing the footer down by their height*/
	padding-top: 139px; /*see above note*/
	&:after {
		content: "";
		display: block;
	}
}
footer,
.container:after {
  /* .push must be the same height as footer */
  height: 195px;
}



footer {
	margin-top: 20px;
}

.footer__inner {
	padding-top: 15px;
	padding-bottom: 10px;
	color: #a1a9bc;
}
.footer__inner a {
	border-bottom: none;
	color: #E5E7EB;
	&:hover {
		color: white;
	}
}

ul#social_icons li a {
	background-image: url('/images/create_social-footer.png');
}

.footer__inner .footer-links {
	padding-left: 0px;
	margin: 0px 0px 30px;
	li {
		display: inline-block;
		zoom: 1; /*IE7 fix for inline-block */
    	*display: inline; /*IE7 fix for inline-block */
		margin: 15px 40px 0px 0px;
	}
}







/* Main / Top Navigation Bar */

.top-nav {
	background-color: #A1A9BC;
	width: 100%;
	border-top: 5px solid $yellow;
	margin-bottom: 20px;
}

.top-nav h1 {
	margin: 15px 0;
	color: #4560A2;
}

.top-nav ul {
	list-style-type: none;
	font-size: 0px;
	margin: auto;
	padding: 0px;
}

.top-nav li {
	display: inline-block;
	zoom: 1; /*IE7 fix for inline-block */
    *display: inline;  /*IE7 fix for inline-block */
	width: 25%;
	text-align: center;
	&:hover {
		background-color: $blue;
	}
}

.top-nav .active {
	background-color: lighten($blue, 10%);
}


.top-nav a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 2;
	color: lighten($blue, 10%);
}

.top-nav li:hover a,
.top-nav .active a {
	color: white;
}





/* Side Navigation Bar */

.sub-menu {
	float: left;
	width: 25%;
	padding: 0px 5px 0px 10px;
	margin: 30px 0px;
	background-color: white;
	border-right: 1px dotted #b6b8ba;
	.active {
		font-weight:bold;
	}
}

.sub-menu h1 {
	margin: 15px 0;
	color: #4560A2;
}

.sub-menu ul {
	list-style-type: none;
	margin-top: 20px;
}

.sub-menu a {
	color: #4560A2;
	text-decoration: none;
	line-height: 1.4;
	&:hover {
		color: #5f7bbf;
	}
}



.sub-menu__nest {
	margin-top: 0px !important;
	margin-left: 20px;
	margin-bottom: 5px;
}

details summary::-webkit-details-marker { 
	display:none; 
}

details summary {
	color: #4560A2;
	cursor: pointer;
	outline: none;
}

details[open] summary {
    font-weight:bold;
}




/* Page Header (Page Title and Last Updated)  */

.page-header {
	margin: 10px 0px 20px;
}

.page-title {
	margin-bottom: 0px;	
}

.last-updated {
	padding-top: 5px;
}





hr {
	color: #fff;
	border-top: 1px dotted #b6b8ba;
}

.support {
	max-width: 700px;
}
.support .page-header {
	margin: 40px 0px 20px;
}

.copyright {
	float: left;
}