---
---

// COLOURS
$blue: #3a4150;
$yellow: #FFC731;
$content-background-colour: white;
//Body colours
$body-text-colour: #7b7c7f;
$body-background-colour: white;
// Header colours
$header-background-color: $blue;
$header-text-color: white;


// Spacing
$base-spacing-unit: 20px;

// Heights and Widths
$side-menu-width: 25%;
$header-height: 140px;
$footer-height: 195px;


// IMPORTS
@import "prism.scss";

@import "header.scss";
@import "footer.scss";
@import "side-nav.scss";
@import "top-nav.scss";



// RESETS / FALLBACKS
* {
	padding: 0px;
	margin: 0px;
	-moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
   box-sizing:        border-box;
}

header, section, footer, aside, nav, main, article, figure, details, summary, blockquote {
	display: block;
}


body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: $body-text-colour;
	background-color: $body-background-colour;
}

.inner-constraint {
	max-width: 980px;
	min-width: 480px;
	margin: auto;
	padding: 0px 20px;
}


.page-content {
	background-color: $content-background-colour;
	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit * 2;
}

main {
	margin-left: $side-menu-width;
	padding-left: $base-spacing-unit;
}

img {
	max-width: 100%;
}

blockquote {
	border: 1px solid #FFE05B;
	background-color: #FFF6BF;
	padding: 0px 10px;
}




/* TEXT */

h1, h2, h3, h4, h5, h6 {
		margin: 0;
}

p, ol, ul { line-height: 20px; }

p {	padding: 10px 0px; }

.center { text-align: center; }

ul { list-style-type: none; }

.container ol,
.container ul {
	padding-left: $base-spacing-unit;
}


.main {
	h1 {
		margin-top: 15px;
		color: $blue;
		font-size: 2em;
	}
	h2 {
		margin-top: 15px;
	}
	h4 {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}


/* Page Header (Page Title and Last Updated)  */

.page-header {
	margin-top: 10px;
	margin-bottom: 10px;
}

.last-updated {
	padding-top: 5px;
}





hr {
	color: #fff;
	border-top: 1px dotted #b6b8ba;
}

.support {
	max-width: 700px;
}


.copyright {
	float: left;
}
