<div class="clear"></div>
<footer>
	<div class="footer__inner">

        <div class="columns_2 margin-right_30">

            <h4 class="footer_menu_title">Discover</h4>

            <ul class="footer_menu">
                <li><a class="underline" href="/blog.phtml#l_footer-latestnews">Latest News</a></li>
                <li><a class="underline" href="/features.phtml#l_footer-features">Features &amp; Pricing</a></li>
                <li><a class="underline" href="/signup.phtml#l_footer-buildb4ubuy">Build Before You Buy</a></li>
                <li><a class="underline" href="/web_designers_kit.phtml#l_footer-wdk">Web Designer's Kit</a></li> 
                <li><a class="underline" href="/accepting-credit-cards.phtml#l_footer-credit_cards">Partners</a></li>
            </ul>

        </div>

        <div class="columns_2">

            <h4 class="footer_menu_title">Explore</h4>

            <ul class="footer_menu">
                <li><a class="underline" href="/jobs.phtml#l_footer-jobs">Job Opportunities</a></li>
                <li><a class="underline" href="/affiliate.phtml#l_footer-affiliate">Affiliate Program</a></li>
                <li><a class="underline" href="/press.phtml#l_footer-press">Press Enquiries</a></li>
                <li><a class="underline" href="/terms.phtml#l_footer-terms">Terms &amp; Conditions</a></li>
                <li><a class="underline" href="/privacy.phtml#l_footer-privacy">Privacy &amp; Cookies</a></li>
            </ul>

        </div>


       
        <div class="columns_4" style="float:right">

            <div class="columns_4 border-bottom">

                <h4 class="footer_menu_title">Follow Us</h4>

                <ul id="social_icons">
                    <li>
                        <a rel="nofollow" class="pinterest" target="_blank" href="http://www.pinterest.com/createdotnet/" title="create pinterest"></a>
                    </li>                    
                    <li>
                        <a rel="nofollow" class="twitter" target="_blank" href="http://www.twitter.com/create" title="create twitter"></a>
                    </li>
                    <li>
                        <a rel="nofollow" class="facebook" target="_blank" href="http://www.facebook.com/create" title="create facebook"></a>
                    </li>
                    <li>
                        <a class="googleplus" target="_blank" href="https://plus.google.com/104454595827661359417" title="create google plus"></a>
                    </li>
                    <li>
                        <a rel="nofollow" class="youtube" target="_blank" href="http://www.youtube.com/createdotnet" title="create youtube"></a>
                    </li>
                    <li>
                        <a rel="nofollow" class="instagram" target="_blank" href="http://instagram.com/createdotnet" title="create instagram"></a>
                    </li>
                    <li>
                        <a rel="nofollow" class="linkedin" target="_blank" href="http://www.linkedin.com/company/create.net" title="create linkedin"></a>
                    </li>
       
                </ul>

            </div>
            <div class="columns_4" style="margin-top:15px;">
                <h4 class="footer_menu_title">Got A Question?</h4>
                <p style="padding-top: 0px; font-size: 13px;">

                    View our <a href="http://help.create.net" target="_blank" title="Help Section">Help Section</a> or <a href="/contact.phtml#l_footer-contact" title="Contact Us">get in touch</a>. 

                    If you have read our FAQs and are still looking for more information, our support team are on hand and will be happy to help.
                </p>
            </div>

        </div>
        
        <div class="clear"></div>

        <div class="columns_4" style="float:right;">
            <p style="margin-top:5px; text-align: right;">© Copyright 2001 - 2014 Create. All Rights Reserved.</p>
        </div>

        <div class="clear"></div>
    </div> <!-- end footer-inner -->
</footer>