
<header>
    <h1>Web Designer's Kit Documentation</h1>
    <p>A fantastic tool for web designers to design website templates to work with the Create system.</p>
</header>

<nav class="side-nav" role="navigation">

<!-- This navigation bar creates seperate unordered lists containing all pages in each catergory. Each page has a 'group' assigned to it in its header, this determines which catergory of the navigation it appears in. -->
<!-- By default, the pages order by last saved. For this reason, each list is sorted by "name" or filename. Hence why each page title is preceeded by a number. In order to over right this name in the final site, we can change the permalink in the head of each page. -->

	<h1>Getting Started</h1>
    <ul>
        {% assign sorted_pages = site.pages | sort:"name" %} <!-- sorts by file name -->
        {% for node in sorted_pages %}
          {% if 'getting-started' == node.group %} <!-- lists all pages with 'getting-started' as the group name -->
                {% if page.url == node.url %} <!-- adds 'active' class if the page url and current url are the same -->
                    <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
          {% endif %}
        {% endfor %}
    </ul>

    <h1>Support</h1>
    <ul>
        {% assign sorted_pages = site.pages | sort:"name" %} <!-- sorts by file name -->
        {% for node in sorted_pages %}
          {% if 'support' == node.group %} <!-- lists all pages with 'getting-started' as the group name -->
                {% if page.url == node.url %} <!-- adds 'active' class if the page url and current url are the same -->
                    <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
          {% endif %}
        {% endfor %}
    </ul>


	<h1>Glossary</h1>
    <ul>
        {% assign sorted_pages = site.pages | sort:"name" %} <!-- sorts by file name -->
        {% for node in sorted_pages %}
          {% if 'glossary' == node.group %} <!-- lists all pages with 'getting-started' as the group name -->
                {% if page.url == node.url %} <!-- adds 'active' class if the page url and current url are the same -->
                    <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
          {% endif %}
        {% endfor %}
    </ul>


    <h1>Tutorials</h1>
    <ul>
        {% assign sorted_pages = site.pages | sort:"name" %} <!-- sorts by file name -->
        {% for node in sorted_pages %}
          {% if 'tutorials' == node.group %} <!-- lists all pages with 'getting-started' as the group name -->
                {% if page.url == node.url %} <!-- adds 'active' class if the page url and current url are the same -->
                    <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
          {% endif %}
        {% endfor %}
    </ul>

</nav>