
<header>
  <div class="banner__inner">
    <h1>Web Designer's Kit Documentation</h1>
    <p>A fantastic tool for web designers to design website templates to work with the Create system.</p>
  </div>
</header>

<nav class="top-nav">
  <ul>
    <li><a href="/pages/getting_started/wdk-introduction.html">Getting Started</a></li>
    <li><a href="/pages/support/help-centre.html">Support</a></li>
    <li><a href="/pages/glossary/glossary.html">Glossary</a></li>
    <li><a href="/pages/tutorials/tutorials.html">Tutorials</a></li>
  </ul>
</nav>



<div class="container">