<header>
  <div class="nav-inner">

        <div class="logo">
          <a href="/"><img src="/images/logo.png" title="Create Ecommerce" alt="Create Ecommerce" width="152" height="32"></a>
        </div>

        <!-- <a style="float: right; margin-top: 25px" class="trial_button-dk button" href="/signup.phtml"><span>Sign Up</span></a> -->
        <a style="float: right; margin-top: 19px; margin-left: 4px;" class="yellow-btn" href="/signup.phtml">Free Trial</a>

        <nav id="menu">
          <ul>
            <li id="li_home" class="home"><a id="menu_home" class="menu_item" href="/index.phtml">Home</a></li>
            <li id="li_features" class="features"><a id="menu_features" class="menu_item" href="/features-pricing.phtml">Features &amp; Pricing</a></li>
            <li id="li_examples" class="examples"><a id="menu_examples" class="menu_item" href="/examples.phtml">Examples</a></li>
            <li id="li_who" class="who"><a id="menu_who" class="menu_item" href="/who.phtml">Who We Are</a></li>
            <li id="li_blog" class="blog"><a id="menu_blog" class="menu_item" href="/blog.phtml">Blog</a></li>
            <li id="li_contact" class="contact"><a id="menu_contact" class="menu_item" href="/contact.phtml">Contact</a></li>
            <li id="li_login" class="login accountLogin last"><a id="menu_login" class="menu_item" href="https://login.create.net/login.phtml" onclick="trackOutboundLink(this, 'Outbound Link', 'Login'); return false;"><span>Account Login</span></a></li>
          </ul>
        </nav><!--/nav#menu-->

  </div>
</header>




<header class="banner">
  <div class="banner__inner">
    <h1><a href="/">Web Designer's Kit Documentation</a></h1>
    <p>A fantastic tool for web designers to design website templates to work with the Create system.</p>
  </div>
</header>

<nav class="top-nav">
  <ul>
    <li><a href="/index.html">Getting Started</a></li>
    <li><a href="/pages/tutorials/tutorials.html">Tutorials</a></li>
    <li><a href="/pages/glossary/glossary.html">Glossary</a></li>
    <li><a href="/pages/support/help-centre.html">Support</a></li>
  </ul>
</nav>