<div class="sticky-footer-helper">

	<div class="inner-constraint">
	
		<header class="header">

			<div class="header__logo">
			  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.svg" title="Create Ecommerce" alt="Create Ecommerce"></a>
			</div>

			<h1 class="header__title"><a href="{{ site.baseurl }}">Web Designer's Kit Documentation</a></h1>
			
			<div class="header__button">
			  <a class="btn btn--login" href="https://login.create.net/login.phtml">Login</a>
			</div>


		</header>

		<nav class="top-nav">
			<ul>
				<li {% if page.url contains "pages/getting_started" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/getting-started/before-you-start.html">Getting Started</a>
				</li>
				
				<li {% if page.url contains "/tutorials/" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/tutorials/index.html">Tutorials</a>
				</li>
				
				<li {% if page.url contains "/glossary/" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/glossary/index.html">Glossary</a>
				</li>
				
				<li {% if page.url contains "/support/" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/support.html">Support</a>
				</li>
				
				<li {% if page.url contains "changelog" %}class="active"{% endif %}>
					<a href="{{ site.baseurl }}/changelog.html">Change Log</a>
				</li>
			</ul>
		</nav>

