@font-face {
    font-family: 'magallanes_light';
    src: url('/wdk/fonts/latinotype_-_magallaneslight-webfont.eot');
    src: url('/wdk/fonts/latinotype_-_magallaneslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wdk/fonts/latinotype_-_magallaneslight-webfont.woff') format('woff'),
         url('/wdk/fonts/latinotype_-_magallaneslight-webfont.ttf') format('truetype'),
         url('/wdk/fonts/latinotype_-_magallaneslight-webfont.svg#magallanes_light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'pt_serifregular';
    src: url('/wdk/fonts/PTF55F-webfont.eot');
    src: url('/wdk/fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wdk/fonts/PTF55F-webfont.woff') format('woff'),
         url('/wdk/fonts/PTF55F-webfont.ttf') format('truetype'),
         url('/wdk/fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: pt_serifregular;
}

h1, h2, h3, h4, h5, h6 {
    font-family: magallanes_light;
    color: $charcoal;
}

a {
    color: $charcoal;
}

.main {
    h1 {
        margin-top: 15px;
        font-size: 2em;
    }
    h2 {
        margin-top: 15px;
    }
    h4 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
