
/* Base Button */
    .btn {
        /* Reset Defaults */
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        white-space: nowrap;
        overflow: visible;
        width: auto;
        background-image: none;
        font-family: sans-serif;

        background-color: #8EDE5F;
        border: 1px solid #8EDE5F;

        /* Text */
        color: #fff;
        font-size: 15px;

        /* Spacing */
        padding: 6px 15px;

        line-height: 1; /* As buttons and anchors hae different defaults */

        border-radius: 2px;

        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        &:hover {
            background-color: #81cb56;
            border: 1px solid #81cb56;
        }
        &:active {
            background-color: #a6fa66;
            border: 1px solid #a6fa66;
            color: #fff;
        }
    }

/* Large Button */
    .btn--large {
        padding: 1em 2em;
    }

/* Tertiary Button */
    .btn--tertiary {
        background: white;
        border: 1px solid rgb(102, 127, 130);
        color: rgb(102, 127, 130) !important;
        &:hover {
            border: 1px solid rgb(21,192,212);
            color: rgb(21,192,212) !important;
        }
        &:active {
            background: #13AFC1;
            color: white;
        }
    }
