
// Example Page


.example__markup__tag {
	
	padding: 2px;

	&:hover {
		cursor: pointer;
		background-color: $warm-grey;
	}

}



.tag-description {

	padding: $base-spacing-unit;
	background-color: $warm-grey;
	width: 280px;

	// M: added by js - headerstick. Fix it to the top once its been scrolled to.
	&--fixed {
		position: fixed;
		top: $base-spacing-unit;
	}
}