
// Example Page


.example__markup__tag {
	
	padding: 2px;

	&:hover {
		cursor: pointer;
		background-color: $warm-grey;
	}

}



.tag-description {

	padding: $base-spacing-unit;
	background-color: $warm-grey;
	width: 280px;

	&--fixed {
		position: fixed;
		top: 0;
	}
}