
// FOOTER

.footer {

    background-color: $footer-background-color;
    background-image: url('/images/screens-white.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: 85%;

    padding: 20px;
    a {
        color: $body-text-colour;
        text-decoration: none;
        &:hover {
            color: $header-text-color;
        }
    }
    .copyright {
        float: left;
        font-size: 0.9em;
    }

}

.footer-links {
    padding-left: 0px;
    margin: 0px 0px 30px;
    li {
        display: inline-block;
        zoom: 1; /*IE7 fix for inline-block */
        *display: inline; /*IE7 fix for inline-block */
        margin: 15px 40px 0px 0px;
    }
}


// STICKY FOOTER
html, body { height: 100%;}

.sticky-footer-helper {
    background: white;
    max-width: $page-width;
    margin: auto;

    min-height: 100%;
    margin-bottom: -$footer-height !important; /* equal to footer height */
    &:after {
        content: "";
        display: block;
    }
}
.footer,
.sticky-footer-helper:after {
  /* .push must be the same height as footer */
  height: $footer-height;
}
