
// FOOTER

.footer {
  background-color: $footer-background-color;
  padding: 20px;
}
.footer a {
    color: $body-text-colour;
    &:hover {
        color: $header-text-color;
    }
}

.footer-links {
    padding-left: 0px;
    margin: 0px 0px 30px;
    li {
        display: inline-block;
        zoom: 1; /*IE7 fix for inline-block */
        *display: inline; /*IE7 fix for inline-block */
        margin: 15px 40px 0px 0px;
    }
}


// STICKY FOOTER
html, body { height: 100%;}

.sticky-footer-helper {
    min-height: 100%;
    margin-bottom: -$footer-height !important; /* equal to footer height */
    // margin-top: -$header-height !important; /*this is because the header and nav bar are not inside the container and are pushing the footer down by their height*/
    // padding-top: $header-height + $base-spacing-unit !important; /*see above note*/
    &:after {
        content: "";
        display: block;
    }
}
.footer,
.sticky-footer-helper:after {
  /* .push must be the same height as footer */
  height: $footer-height;
}
