
// HEADER AND FOOTER

.header {
  position: relative;
  background-color: $header-background-color;
  height: $header-height;
}

.header .logo {
  padding: 26px 20px 0px 0px;
  margin: 0px;
  float: left;
}

.header .title {
    max-width: 500px;
    padding: 26px 0px;
    margin: auto;
    text-align: center;
    a {
        color: $header-text-color;
        text-decoration: none;
    }
}

@media (max-width: 650px) {
    .header .title {
        font-size: .8em;
        padding-top: 100px;
    }
}


// Login Button
.header .btn--login {
    position: absolute;
    top: 25px;
    right: 20px;
}
