
// HEADER AND FOOTER

.header {
  position: relative;
  background-color: $header-background-color;
    a {
        text-decoration: none;
    }
}

.header__logo,
.header__button {
  position: absolute;
  top: 22px;
}
.header__logo {
  left: 20px;
  img {
    margin: auto;
    display: block;
  }
}
.header__button {
  right: 20px;
}


.header__title {
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    margin: 0;
    a {
      color: $header-text-color;
    }
    @media (max-width: 850px) {
      font-size: 1.5em;
      padding-top: 70px;
    }
}



