
// HEADER AND FOOTER

.header {
  position: relative;
  background-color: $header-background-color;
  height: $header-height;
    a {
        text-decoration: none;
    }
}

.header__logo {
  padding: 0;
  margin: 0;
  width: 174px;
  height: 100%;
  float: left;
  background-color: $electric-blue;
}
.header__logo img {
    margin: auto;
    display: block;
    margin-top: 24px;
}

.header .title {
    padding: 20px 0px;
    padding-left: 174px;
    margin: auto;
    text-align: center;
    color: $header-text-color;
}

@media (max-width: 650px) {
    .header .title {
        font-size: .8em;
        padding-top: 100px;
    }
}


// Login Button
.header .btn--login {
    position: absolute;
    top: 25px;
    right: 20px;
}
