

/* Page Header (Page Title and Last Updated)  */

.page-header {
	width: 100%;
	display: block;
	background-color: $purple;
	padding: 20px;
	padding-top: 30px;
	color: white;
}

.page-title {
	text-align: center;
	font-size: 40px;
}

.last-updated {
	margin: 0;
}
