

// Side Navigation Bar


.side-menu {
    float: left;
    width: $side-menu-width;
    padding: 0px 5px 0px 10px;
    margin: 30px 0px;
    border-right: 1px dotted $body-text-colour;
}


.side-menu ul {
    list-style-type: none;
    margin-top: 20px;
}

.side-menu {

  h2 {
      margin: 15px 0;
      color: $body-text-colour;
  }

  a {
    color: $blue;
    text-decoration: none;
    line-height: 1.4;
    &:hover {
        color: lighten($blue, 20%);
    }
  }

  .active a {
      font-weight:bold;
  }

}


.side-menu__nest {
    margin-top: 0px !important;
    margin-left: 20px;
    margin-bottom: 5px;
}

// Remove the browser default drop down marker
details summary::-webkit-details-marker {
    display:none;
}

details summary {
    color: $blue;
    cursor: pointer;
    outline: none;
}

details[open] summary {
    font-weight:bold;
}
