

// Side Navigation Bar


.sub-menu {
    float: left;
    width: 25%;
    padding: 0px 5px 0px 10px;
    margin: 30px 0px;
    background-color: white;
    border-right: 1px dotted #b6b8ba;
    .active {
        font-weight:bold;
    }
}

.sub-menu h1 {
    margin: 15px 0;
    color: #4560A2;
}

.sub-menu ul {
    list-style-type: none;
    margin-top: 20px;
}

.sub-menu a {
    color: #4560A2;
    text-decoration: none;
    line-height: 1.4;
    &:hover {
        color: #5f7bbf;
    }
}



.sub-menu__nest {
    margin-top: 0px !important;
    margin-left: 20px;
    margin-bottom: 5px;
}

details summary::-webkit-details-marker { 
    display:none; 
}

details summary {
    color: #4560A2;
    cursor: pointer;
    outline: none;
}

details[open] summary {
    font-weight:bold;
}
