

// Top Navigation Bar

.top-nav {
  background-color: darken($warm-grey, 5%);
  width: 100%;
}

.top-nav ul {
    list-style-type: none;
    font-size: 0px;
    padding: 0;
}

.top-nav li {
    display: inline-block;
    width: 25%;
    text-align: center;
    zoom: 1; /*IE7 fix for inline-block */
    *display: inline;  /*IE7 fix for inline-block */
    &:hover {
        background-color: $charcoal;
        a {
            color: white;
        }
    }
}

.top-nav .active {
    background-color: darken($charcoal, 10) !important;
    a {
      color: white !important;
    }
}


.top-nav a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: lighten($charcoal, 10%);
}
