

// Top Navigation Bar

.top-nav {
  position: absolute;
  background-color: darken($warm-grey, 5%);
  bottom: 0;
  width: 100%;
}

.top-nav ul {
    list-style-type: none;
    font-size: 0px;
}

.top-nav li {
    display: inline-block;
    width: 25%;
    text-align: center;
    zoom: 1; /*IE7 fix for inline-block */
    *display: inline;  /*IE7 fix for inline-block */
    &:hover {
        background-color: darken($warm-grey, 15%);
        a {
            color: $header-text-color;
        }
    }
}

.top-nav .active {
    background-color: darken($warm-grey, 30%);
    a {
      color: $header-text-color;
    }
}


.top-nav a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: lighten($blue, 10%);
}
