

// Top Navigation Bar

.top-nav {
    background-color: #A1A9BC;
    border-top: 5px solid $yellow;
    margin-bottom: 20px;
}

.top-nav ul {
    list-style-type: none;
    font-size: 0px;
}

.top-nav li {
    display: inline-block;
    width: 25%;
    text-align: center;
    zoom: 1; /*IE7 fix for inline-block */
    *display: inline;  /*IE7 fix for inline-block */
    &:hover {
        background-color: $blue;
        a {
            color: white;
        }
    }
}

.top-nav .active {
    background-color: lighten($blue, 10%);
    a {
      color: white;
    }
}


.top-nav a {
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 2;
    color: lighten($blue, 10%);
}
