.clearfix:after,
.page-content:after {
  content: "";
  display: table;
  clear: both; }

.list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0; }

body,
body * {
  box-sizing: border-box; }

header, section, footer, aside, nav, main, article, figure, details, summary, blockquote {
  display: block; }

img {
  max-width: 100%; }

body {
  font-size: 16px;
  line-height: 1.6;
  color: #333333;
  background-color: #f0e9df;
  margin: 0; }

.inner-constraint {
  margin: auto; }

.header {
  position: relative; }
  .header a {
    text-decoration: none; }

.header__logo,
.header__button {
  position: absolute;
  top: 22px; }

.header__logo {
  left: 20px; }
  .header__logo img {
    margin: auto;
    display: block; }

.header__button {
  right: 20px; }

.header__title {
  padding: 20px 0px;
  text-align: center;
  width: 100%;
  margin: 0; }
  .header__title a {
    color: #2f4649; }
  @media (max-width: 850px) {
    .header__title {
      font-size: 1.5em;
      padding-top: 70px; } }

.footer {
  width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f5f0e9;
  background-image: url("/images/screens-white.png");
  background-repeat: repeat-x;
  background-position-x: center;
  background-position-y: 85%; }
  .footer a {
    color: #333333;
    text-decoration: none; }
    .footer a:hover {
      color: #2f4649; }
  .footer .copyright {
    float: left;
    font-size: 0.9em; }

.footer-links {
  padding-left: 0px;
  margin: 0px 0px 30px; }
  .footer-links li {
    display: inline-block;
    zoom: 1;
    /*IE7 fix for inline-block */
    *display: inline;
    /*IE7 fix for inline-block */
    margin: 15px 40px 0px 0px; }

html, body {
  height: 100%; }

.sticky-footer-helper {
  background: white;
  width: 1000px;
  margin: auto;
  min-height: 100%;
  margin-bottom: -260px !important;
  /* equal to footer height */ }
  .sticky-footer-helper:after {
    content: "";
    display: block; }

.footer,
.sticky-footer-helper:after {
  /* .push must be the same height as footer */
  height: 260px; }

.side-menu {
  border-right: 1px dotted #333333;
  padding: 0px 5px 0px 10px; }
  @media (max-width: 670px) {
    .side-menu {
      float: none;
      width: 100%;
      border: none;
      padding: 0;
      text-align: center; } }
  .side-menu ul {
    padding-left: 10px; }
  .side-menu a {
    color: #2f4649;
    text-decoration: none; }
    .side-menu a:hover {
      color: #578287; }
  .side-menu .active a {
    font-weight: bold; }
  .side-menu .nav__item {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.4em;
    list-style-type: none; }
  .side-menu .nav__item__sub {
    list-style-type: none;
    font-size: .9em;
    margin-left: 10px;
    margin-bottom: 7px; }

.top-nav {
  background-color: #e8ddce;
  width: 100%; }

.top-nav ul {
  list-style-type: none;
  font-size: 0px;
  padding: 0; }

.top-nav li {
  display: inline-block;
  width: 20%;
  text-align: center; }
  .top-nav li:hover {
    background-color: #2f4649; }
    .top-nav li:hover a {
      color: white; }

@media (max-width: 600px) {
  .top-nav li {
    width: 50%; } }

.top-nav .active {
  background-color: #1b282a !important; }
  .top-nav .active a {
    color: white !important; }

.top-nav a {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 2;
  color: #436468; }

.text-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #2f4649; }
  .text-input:focus {
    border: 1px solid #070a0b;
    outline: none; }

.page-content {
  background-color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px; }

blockquote {
  border: 1px solid #FFE05B;
  background-color: #FFF6BF;
  padding: 0px 10px; }

.deprecated {
  background-color: #ee6944;
  color: #FFF;
  padding: 10px;
  margin-bottom: 10px; }

.deprecated a {
  color: #fff;
  text-decoration: underline; }

.container ol,
.container ul {
  padding-left: 20px; }

.wdk-tag {
  display: block;
  padding: 20px !important;
  margin-bottom: 20px; }

/* Base Button */
.btn {
  /* Reset Defaults */
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  white-space: nowrap;
  overflow: visible;
  width: auto;
  background-image: none;
  font-family: sans-serif;
  background-color: #8EDE5F;
  border: 1px solid #8EDE5F;
  /* Text */
  color: #fff;
  font-size: 15px;
  /* Spacing */
  padding: 6px 15px;
  line-height: 1;
  /* As buttons and anchors hae different defaults */
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .btn:hover {
    background-color: #81cb56;
    border: 1px solid #81cb56; }
  .btn:active {
    background-color: #a6fa66;
    border: 1px solid #a6fa66;
    color: #fff; }

/* Large Button */
.btn--large {
  padding: 1em 2em; }

/* Tertiary Button */
.btn--tertiary {
  background: white;
  border: 1px solid #667f82;
  color: #667f82 !important; }
  .btn--tertiary:hover {
    border: 1px solid #15c0d4;
    color: #15c0d4 !important; }
  .btn--tertiary:active {
    background: #13AFC1;
    color: white; }

@font-face {
  font-family: 'magallanes_light';
  src: url("../fonts/latinotype_-_magallaneslight-webfont.eot");
  src: url("../fonts/latinotype_-_magallaneslight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/latinotype_-_magallaneslight-webfont.woff") format("woff"), url("../fonts/latinotype_-_magallaneslight-webfont.ttf") format("truetype"), url("../fonts/latinotype_-_magallaneslight-webfont.svg#magallanes_light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'pt_serifregular';
  src: url("../fonts/PTF55F-webfont.eot");
  src: url("../fonts/PTF55F-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PTF55F-webfont.woff") format("woff"), url("../fonts/PTF55F-webfont.ttf") format("truetype"), url("../fonts/PTF55F-webfont.svg#pt_serifregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: pt_serifregular; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: magallanes_light;
  color: #2f4649;
  margin-top: 0; }

a {
  color: #2f4649; }

.main h1 {
  margin-top: 15px;
  font-size: 2em; }

.main h2 {
  margin-top: 15px; }

.main h4 {
  margin-top: 15px;
  margin-bottom: 15px; }

.filter-controls {
  width: 225px;
  background: #2f4649;
  padding: 20px;
  color: white; }
  .filter-controls .heading {
    color: white; }
  .filter-controls .search {
    margin-bottom: 20px; }
  .filter-controls--fixed {
    position: fixed;
    top: 20px; }

.example__markup {
  -moz-tab-size: 2;
       tab-size: 2; }

.example__markup__tag {
  padding: 2px;
  -webkit-transition: background-color 0.2s ease-in;
          transition: background-color 0.2s ease-in; }
  .example__markup__tag:hover {
    cursor: pointer;
    background-color: #f0e9df; }

.example__description {
  padding: 20px;
  background-color: #f0e9df;
  width: 280px;
  font-size: 1.05em; }
  .example__description--fixed {
    position: fixed;
    top: 20px; }
  .example__description__tag {
    word-wrap: break-word; }

.glossary__item {
  border-bottom: 1px solid;
  margin-bottom: 2rem;
  padding-bottom: 1rem; }
  .glossary__item .heading {
    display: inline; }

.glossary__item--depreciated {
  display: none; }
  body.show-depreciated .glossary__item--depreciated {
    display: block; }

/* Code Block Styling - Overide styles in prism.css */
pre[class*="language-"] {
  padding: 1em;
  padding-top: 0;
  margin: 1em; }

pre, code {
  background-color: #f5f2f0;
  overflow: scroll; }

/*for comment tags, such as the WDK tags*/
.token.comment {
  color: #dbb112; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.regex,
.token.important {
  color: #e90; }

.token.important {
  font-weight: bold; }

.token.entity {
  cursor: help; }