{% include head.html %}
{% include top-navigation-bars.html %}


{
{% for tag in site.glossary %}
	"{{ tag.content | strip_html }}": "{{ tag.tag | xml_escape }}",
{% endfor %}
}
<!-- <span class="example__tag" data-info="{{ tag.content | strip_html }}">{{ tag.tag | xml_escape }}</span> -->


<div class="page-content page--example">
	
	<h1 class="">{{ page.title }}</h1>
	{{ content }}

	<div class="grid">
		
		<div class="grid__item two-thirds">
			
			<pre class="example__markup"><code>{% include example-template.html %}</code></pre>

		</div><!-- 
		 --><div class="grid__item one-third">
			<!-- This is intentionally empty, it creates the space for the helper text to go in -->
		</div>

	</div>

</div><!-- end container -->

{% include footer.html %}
{% include foot.html %}
