{% include head.html %}
{% include top-navigation-bars.html %}

<div class="page-content">
	
	<div class="layout" id="js-glossary">

		<div class="layout__item 1/4">
			
			<div class="filter-controls">
				<h3 class="heading">Search</h3>
				<input class="search text-input" placeholder="Search" />
				<h3 class="heading">Filter</h3>
				<button class="btn btn--primary sort" data-sort="js-depreciated">Sort by depreciated</button>
			</div>

		</div><!-- 
		
		 --><div class="layout__item 3/4">

			<h1 class="">{{ page.title }}</h1>
			
			{{ content }}

			<ul class="list-reset list">
				
				{% for wdk_tag in site.glossary %}
					<li class="glossary__item">
						<h1 class="js-name">{{ wdk_tag.title }}</h1>

						{% if wdk_tag.deprecated != nil %}
							<div class="deprecated">
								This tag has been deprecated as of version <span class="js-depreciated">{{ wdk_tag.deprecated }}</span>, its use is highly discouraged. <a href="{{ site.baseurl }}/changelog.html#version-{{ wdk_tag.deprecated | remove:'.' }}">See the change log</a>.
								{% if wdk_tag.useInstead != nil %}
									<br />We recommend you use <a href="{{ site.baseurl }}/{{ wdk_tag.useInsteadLink }}">{{ wdk_tag.useInstead | escape }}</a> instead.
								{% endif %}
							</div>
						{% endif %}

						{% if wdk_tag.tag != nil %}
							<code class="wdk-tag">{{ wdk_tag.tag | xml_escape }} </code>
						{% endif %}

						{{ wdk_tag.content }}
					</li>
				{% endfor %}

			</ul>

		</div>

	</div><!-- end .layout -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
	<script>
		var searchOptions = {
			valueNames: [ 'js-name', 'js-depreciated' ]
		};

		var search = new List('js-glossary', searchOptions);

	</script>

</div> <!-- end container -->

{% include footer.html %}
{% include foot.html %}
