{% include head.html %}
{% include top-navigation-bars.html %}

<div class="page-content">
	
	<div class="layout" id="js-glossary">

		<div class="layout__item 1/4 lap-1/1">
			
			<div class="filter-controls" id="js-filter-controls">
				<h3 class="heading">Search Tags</h3>
				<input class="search text-input" placeholder="Search" autofocus="autofocus"/>
				
				<label for="js-toggle-depreciated">Show deprecated tags</label>
				<input id="js-toggle-depreciated" type="checkbox">
			</div>

		</div><!-- 
		
		 --><div class="layout__item 3/4 lap-1/1">

			<h1 class="">{{ page.title }}</h1>

			<ul class="list-reset list">
				
				{% for wdk_tag in site.glossary %}
					<li class="glossary__item {% if wdk_tag.deprecated != nil %}glossary__item--depreciated{% endif %}" id="{{ wdk_tag.title | remove:' '}}">
						
						<a href="#{{ wdk_tag.title | remove:' '}}" class="section-anchor">#</a>
						<h2 class="heading js-name">{{ wdk_tag.title }}</h2>

						{% if wdk_tag.deprecated != nil %}
							<div class="deprecated">
								This tag has been deprecated as of version {{ wdk_tag.deprecated }}, its use is highly discouraged. <a href="{{ site.baseurl }}/changelog.html#version-{{ wdk_tag.deprecated | remove:'.' }}">See the change log</a>.
								{% if wdk_tag.useInstead != nil %}
									<br />We recommend you use <a href="{{ site.baseurl }}/glossary.html#{{ wdk_tag.useInsteadLink }}">{{ wdk_tag.useInstead | escape }}</a> instead.
								{% endif %}
							</div>
						{% endif %}

						{% if wdk_tag.tag != nil %}
							<code class="wdk-tag js-tag">{{ wdk_tag.tag | xml_escape }} </code>
						{% endif %}
						
						<span class="js-description">
							{{ wdk_tag.content }}
						</span>
					</li>
				{% endfor %}

			</ul>

		</div>

	</div><!-- end .layout -->



</div> <!-- end container -->

{% include footer.html %}

<script>

	$(document).ready(function(){

		// Searching

		var searchOptions = {
			valueNames: [ 'js-name', 'js-tag', 'js-description' ]
		};

		var search = new List('js-glossary', searchOptions);

	
		// Show / Hide depreciated tags

		$("#js-toggle-depreciated").click(function(){
			$("body").toggleClass("show-depreciated");
		});

		// make the filters sticky once scrolled to
		headerStick(document.querySelector('#js-filter-controls'), {offset: -20, classname: "filter-controls--fixed"})

	});

</script>

{% include foot.html %}
