{% include head.html %}
{% include top-navigation-bars.html %}


<div class="page-header">
	<h2 class="page-title">{{ page.title }}</h2>
</div>


<div class="page-content">

	<nav class="side-menu">

		<!-- Assign posts based on which page we're on and set the navigation title -->
		{% if page.url contains "glossary" %}
			{% assign nav-items = site.glossary %}
			<h1>Glossary</h1>
		{% elsif page.url contains "tutorials" %}
			{% assign nav-items = site.tutorials %}
			<h1>Tutorials</h1>
		{% endif %}
			

		<ul>
			{% for post in nav-items %}

				{% if post.url contains post.parent %} {% comment %} If the posts contains a parent in its YML that matches with the folder it is in {% endcomment %}
				<li>
					{% if page.url == post.url %} {% comment %}adds 'active' class if the page url and current url are the same {% endcomment %}
						<a href="{{post.url}}" class="nav__sub-item {{ post.parent }} active">{{ post.title }}</a>
						{% else %}
						<a href="{{post.url}}" class="nav__sub-item {{ post.parent }}">{{ post.title }}</a>
					{% endif %}
				</li>

				{% else %}
					<a href="{{post.url}}" class="nav__item">{{ post.title }}</a>
				{% endif %}

			{% endfor %}
		</ul>

	</nav>



	<main>
		{{ content }}
		<p class="last-updated">Last Updated: {{ page.last-updated | date: "%-d %B %Y" }}</p>
	</main>

</div> <!--end container-->

{% include footer.html %}
{% include foot.html %}
