{% include head.html %}
{% include top-navigation-bars.html %}

<div class="page-content">


	<div class="layout">
	
		<div class="grid__item one-quarter">
			
			{% include side-nav.html %}
		</div><!-- 
		
		 --><div class="grid__item three-quarters">

			<main>

				<h1 class="">{{ page.title }}</h1>

				{% if page.deprecated != nil %}
					<div class="deprecated">
						This tag has been deprecated as of version {{ page.deprecated }}, its use is highly discouraged. <a href="{{ site.baseurl }}/changelog.html#version-{{ page.deprecated | remove:'.' }}">See the change log</a>.
						{% if page.useInstead != nil %}
							<br />We recommend you use <a href="{{ site.baseurl }}/{{ page.useInsteadLink }}">{{ page.useInstead | escape }}</a> instead.
						{% endif %}
					</div>
				{% endif %}

				{% if page.tag != nil %}
					<code class="wdk-tag">{{ page.tag | xml_escape }} </code>
				{% endif %}

				{{ content }}

				<p class="last-updated">Last Updated: {{ page.last-updated | date: "%-d %B %Y" }}</p>
			
			</main>

		</div>

	</div>


</div> <!--end container-->

{% include footer.html %}
{% include foot.html %}
