{% include head.html %}
{% include top-navigation-bars.html %}

<div class="container">
    <nav class="sub-menu">
    	{% assign group = 'Tutorials' %}
      	<h2>{{group}}</h2> {% comment %}display name of group as text{% endcomment %}
        
        <ul>
            {% assign sorted_pages = site.pages | sort:"name" %}  {% comment %}sorts by file name {% endcomment %}
            {% for node in sorted_pages %}
              {% if group == node.group %}  {% comment %}lists all pages with 'getting-started' as the group name {% endcomment %}
                {% if page.url == node.url %}  {% comment %}adds 'active' class if the page url and current url are the same{% endcomment %} 
                    <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                    {% else %}
                    <li><a href="{{node.url}}">{{node.title}}</a></li>
                {% endif %}
              {% endif %}
            {% endfor %}
        </ul>
    </nav>



    <main class="language-markup">
                {% if page.last-updated == '00-00-0000' %}
                    <br>
                    <br>
                    {% else %}
                    <div class="page-header">
                        <h2 class="page-title">{{ page.title }}</h2>
                        <p class="last-updated">Last Updated: {{ page.last-updated | date: "%-d %B %Y" }}</p>
                        <hr>
                    </div>
                {% endif %}

        {{ content }}

    </main>

</div>  <!--end container--> 
{% include footer.html %}
{% include foot.html %}