


.glossary__item {

	border-bottom: 1px solid;
	margin-bottom: 2rem;
	padding-bottom: 1rem;

	.section-anchor {
		text-decoration: none;
	}
}

.glossary__item--deprecated {

	// Shown and hidden using js
	display: none;

	body.show-deprecated & {
		display: block;
	}
}